<div class="nav">
    <div class="row col-md-12 justify-content-between">
        <a href="/ui/song" class="col-sm-4 site-link">
            <img height="20px" src="/images/guitar.png" class="nav-logo">
            Song Aggregator
        </a>
        <div class="col-sm-1 text-right">
            <a target=_blank href="https://github.com/baptistebouchard/song-aggregator" class="github-link">
                <img class="logo-header-img" src="/images/github.png">
            </a>
        </div>
    </div>
</div>