<div class="row song-container">
    <div class="col-lg-4 search-container small-container" ng-class="{ 'search-position': $ctrl.song.lyrics }">
        <div class="song-col">
            <search></search>
        </div>
    </div>
    <div class="col-lg-4 song-animation small-container" ng-show="$ctrl.display">
        <div class="song-col">
            <lyrics lyrics="$ctrl.song.lyrics"></lyrics>
        </div>
    </div>
    <div class="col-lg-4 small-container song-animation" ng-show="$ctrl.display">
        <div class="song-col">
            <h3>Tabs</h3>
            <tab class="col-md-12" ng-repeat="tab in $ctrl.song.tabs" tab="tab"></tab>
            <hr>
            <h3>Suggestions</h3>
            <tab class="col-md-12" ng-repeat="tabSuggestion in $ctrl.song.tabSuggestions" tab="tabSuggestion"></tab>
        </div>
    </div>
</div>